beautifulsoup4==4.9.3
lxml==4.6.2
multidict==5.1.0
psutil==5.8.0
py-irclib==0.3.0
requests==2.25.1
SQLAlchemy==1.4.40
urllib3==1.26.5
venusian==3.0.0
sjcl==0.2.1
watchdog==1.0.2
yarl==1.3.0
PBinCLI==0.2
