attrs == 23.2.0
beautifulsoup4 == 4.12.3
git+https://github.com/r4sas/PBinCLI.git
isodate == 0.6.1
lxml == 5.1.0
multidict == 6.0.5
psutil == 5.9.8
py-irclib == 0.3.0
requests == 2.31.0
sjcl == 0.2.1
SQLAlchemy == 1.4.32
venusian == 1.2.0
watchdog == 4.0.0
yarl == 1.9.4
